<!-- SEO Meta-tags -->
<% set_meta_tags title: 'Full report',
              description: 'Here you will find all the information related to your website security and your attack surface that we have detected.' %>

<% if @check.completed? %>

<div class="card-container full-report-page">
  <div class="banner-green glossary">
    <%= render 'shared/navbar' %>
    <%= render 'shared/page-description' %>
  </div>
  <div class="general-info-container" id="report-banner-1">
    <%= render 'shared/report-title' %>
  <div class="data-container">
    <div class="risk-chart">
      <%= render 'shared/port-risks-calc' %>
      <%= render 'shared/report-progress-circle' %>
    </div>
    <div class="wrapper-clock margin-graph">
      <% if @check.duration %>
        <div class="style-clock"><%= @check.duration %> s
          <% else %>
          <div class="style-clock"><%= @check.scandur %> s
            <% end %>
            <div class="scan-duration">Detection Time</div>
          </div>
        </div>
      <% unless @check.attacksurface.nil? %>
      <%= render 'shared/attacksurface-calc-circle' %>
      <% end %>
      <%= render 'shared/ipaddrs-calc-circle' %>
    </div>
    <div class="circle-description-container">
      <%= render 'shared/descrp-circle' %>
    </div>
  </div>
<div class="general-info-container-vuln" id="report-banner-2">
  <div class="risks-title vuln" id="result-full-report">Dangerous Ports</div>
  <br>
  <div class="container">
    <div class="row">
  <% @check.vulnerabilities.each do |vuln| %>
    <div class="col-xs-12  col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="port-card border-secondary mb-3">
        <div class="port-card-header">Port: <%= vuln.port %></div>
        <div class="port-card-body text-secondary">
            <h5 class="port-card-text"><strong>Netrisk:</strong> <%= vuln.netrisk %>%</h5>
            <p class="port-card-text"><strong>State:</strong> <%= vuln.state %></p>
            <p class="port-card-text"><strong>Protocol:</strong> <%= vuln.protocol %></p>
            <p class="port-card-text"><strong>Service:</strong> <%= vuln.service %></p>
            <p class="port-card-text"><strong>Reason:</strong> <%= vuln.reason %></p>
            <strong><p class="port-card-text"><strong>Weakness:</strong> <%= vuln.weakness %></p></strong>
            <p class="port-card-text"><strong>Risk:</strong> <%= vuln.risk %></p>
            <p class="port-card-text"><strong>Recommandation:</strong> <%= vuln.recommandation %></p>
        </div>
        <p class="port-card-text term-meaning-text"><strong>Not sure of what this means?</strong></p>
        <a href="/pages/glossary#glossary-anchor" class="button-glossary">Go to Glossary</a>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
<div class="general-info-container" id="report-banner-3">
<h3 id="result-full-report">Attack Surface</h3>
<section>
<% unless @check.attacksurface.nil? %>
  <!--for demo wrap-->
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Index</th>
          <th>Subdomain</th>
          <th>IP</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      <% @check.attacksurface["hosts"].each_with_index do |subdomain, index| %>
      <% if subdomain["ip_address"] %>
        <tr>
          <td><%= index %></td>
          <td><%= subdomain["host"] %></td>
          <td><%= subdomain["ip_address"] %></td>
        </tr>
        <% else %>
        <tr>
          <td><%= index %></td>
          <td><%= subdomain["host"] %></td>
          <td>Not found</td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

<p id="scanned-by"><a href="http://websec.app:8080/<%=@check.hostname%>.json">Download raw attack surface results data in JSON</a></p>

  <p id="scanned-by">Need some help understanding your data?</p>
  <div class="buttons-full-report-table">
    <div>
      <a href="/dashboard/profile#contact-us-page" class="blue-buttons">Contact Us</a>
    </div>
    <div>
      <p id="or-statement">Or</p>
    </div>
    <div>

    </div>
  </div>

  <% end %>
</section>
</div>
  <div class="orange-vector" style="background-image: url(<%= image_path('purple-vector.png') %>);">
  </div>
</div>


<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>

<% else %>

<%= render 'shared/loading' %>

<script>
    setTimeout(function(){
      window.location.reload(1);
    }, 30000);
</script>

<% end %>

